/* ---------- BUTTON CSS Style Sheet ---------- */
.button {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  height: 35px;
  outline: none;
  width: 130px;
  padding: 0.5rem 0;
}

.button:hover {
  cursor: pointer;
}

.button--outlined {
  background-color: #ffffff;
  color: var(--primary-color);
}

.button--fill {
  background-color: var(--primary-color);
  color: #ffffff;
}

.button--logout {
  background-color: var(--secondary-color);
  color: #ffffff;
  border-color: var(--secondary-color);
}

.hidde--button {
  display: none;
}

.button--sale {
  font-size: 1.6rem;
  width: 190px;
  height: 45px;
}

.button--buy {
  font-size: 1.6rem;
  width: 100%;
  height: 45px;
}
