/* ---------- INPUT CSS Style Sheet ---------- */
/* Header Input Search Field */
.header__input--searchfield {
  border: none;
  background-color: var(--background-color);
  color: #000000;
  font-size: 1.6rem;
  width: 50%;
}

.form__input {
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #fcced3;
  outline: none;
}

.upload__button {
  display: none;
}
