/* ---------- OFFER PAGE CSS Style Sheet ---------- */
.main__offer {
  background-color: #ebedee;
}

.section__offer {
  padding: 6rem 0;
}

.offer__container {
  display: flex;
  justify-content: space-around;
}
