/* ---------- OFFERINFO CSS Style Sheet ---------- */
aside {
  background-color: #ffffff;
  padding: 40px;
  width: 40%;
  height: 600px;
}

.aside__details {
  border-bottom: 1px solid var(--text-secondary-color);
  li {
    font-size: 1.4rem;
    color: var(--text-secondary-color);
  }

  > ul {
    padding: 40px 0;
  }
}

.aside__details--product {
  display: flex;
  padding: 2px 0;
}

.aside__details--product > span {
  flex: 1;
}

.aside__product {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.6rem;
  padding: 40px 0;
  > p {
    color: var(--text-secondary-color);
  }
}

.aside__owner {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 50px;
  > p {
    font-size: 1.6rem;
  }
}

.aside__picture--avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
}
